.body {
  min-height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  padding: 30px;
}

.container {
  max-width: 940px;
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: 15px 20px 12px  rgba(0, 0, 0, 0.2);
  perspective: 2800px;
  /* border-radius: 15px; */
  /* border: 3px solid #690000; */
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 0.8s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  /* backface-visibility: hidden; */
}

.container .cover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #690000;
  /* backface-visibility: hidden; */
  /* opacity: 0.5; */
  /* z-index: 6; */
}

.container #flip:checked ~ .cover {
  transform: rotatey(-180deg);
}
.container .cover .front .frontImg {
  position: absolute;
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  z-index: 12;
  backface-visibility: hidden;
}

.front {
  backface-visibility: hidden;
}

.container .cover .back .backImg {
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  /* z-index: 4; */
  /* backface-visibility: hidden; */
}

.container form {
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-content .login-form,
.form-content .signUp-form {
  width: calc(100% / 2-25px);
}

.form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.form-content .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #690000;
}

.signUp-form .title::before {
  width: 20px;
}

.form-content .input-boxes {
  /* margin-top: 30px; */
}
.form .form-content .button {
  color: #fff;
  margin-top: 0 !important;
}

.form-content .input-box {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #690000;
}

.form-content .input-box .i {
  position: absolute;
  color: #690000;
  font-size: 17px;
}

form .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

form .form-content .text a {
  text-decoration: none;
}
form .form-content .text a:hover {
  text-decoration: underline;
}

form .form-content .button input {
  color: #fff;
  background: #690000;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

form .form-content .button input:hover {
  background: #510000;
  border: 1px solid rgb(144, 253, 2);
}

form .form-content label {
  color: #690000;
  cursor: pointer;
}
form .form-content label:hover {
  text-decoration: underline;
}

.login-text,
.signUp-text {
  /* text-align: center; */
  margin-top: 25px;
}

.container #flip {
  display: none;
}

@media (max-width: 775px) {
  .container .cover {
    display: none;
  }
  .form-content .login-form,
  .form-content .signUp-form {
    width: 100%;
  }

  .form-content .signUp-form {
    display: none;
  }
  .container #flip:checked ~ form .signUp-form {
    display: block;
  }
  .container #flip:checked ~ form .login-form {
    display: none;
  }
}

.google-button {
  background-color: rgb(245, 233, 233);
  display: inline-flex;
  align-items: center;
  /* color: rgba(0, 0, 0, 0.54); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid rgb(204, 196, 196) !important;
  /* font-size: 20px; */
  /* font-weight: 500; */
  /* font-family:  sans-serif; */
  width: 100%;
  justify-content: center;
  /* font-weight: 600;
  font-size: 16px;
  color: #477c87; */
}
.google-div :hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;

  
}
.google-button-text{
  font-weight: 400;
  font-size: 16px;
  /* color: #477c87; */
  color: #3F7EE8;
  margin-bottom: 0 !important;
}

.or{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  flex-direction: column;
}

.or-line-left{

}
.line-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linehr{
  flex-grow: 1;
  border: 0.5px solid rgb(148, 141, 141);
  height: 1px;
 
}
