*{
  padding:0;
  margin:0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}
.main-header{
  /* border-radius: 8px;
  border: 1px solid #ccbcbc; */
  max-width: 70%;
}
.top-header{
  max-width: 100%;
  /* background: #eae8e8; */
  /* border: none; */
  border-radius: 8px;
  border: 1px solid #ccbcbc;

 
}

.form-h{
display: flex;
}

.form-p{
    color:black;
    text-align:justify;
}

.form-btn{
   margin-left:10px;
 
 


}