.add-video {
    padding: 40px 0;
    width: 1100px;
    margin: 0 auto;
}

.add-video-header {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.add-video-form {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-video-btn {
    padding: 8px 18px;
}

.add-video-input {
    /* color: transparent; */
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 12px;
}

th {
    font-weight: 700;
}