*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif !important; 
  }
  
  .review-container{
    
      max-width:500px;
    
      margin-top: 10px;
     
      border-radius: 25px;
      padding: 5px 20px;
  
     
  }
  .review-header{
    display: flex;
    align-items: baseline;
  
  }
  .review-p{
    margin-left: 20px;
  }
  
  
  
  .review-heading {
    font-size: 20px;
    margin-right: 25px;
    margin-left: 10px;
  
  }
  
  
  
  .side {
    float: left;   
    width: 15%;
    margin-top:10px;
  
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 15px;
    /* height:20px; */
    height: 10px;
  }
  
  
  .bar-5 { height: 7px;  background: linear-gradient(to right, #e65c00, #f9d423); border-radius:15px}
  .bar-4 {width: 30%; height: 7px; background: linear-gradient(to right, #e65c00, #f9d423); border-radius:15px}
  .bar-3 {width: 10%; height: 7px; background: linear-gradient(to right, #e65c00, #f9d423); border-radius:15px}
  .bar-2 {width: 4%; height: 7px; background: linear-gradient(to right, #e65c00, #f9d423); border-radius:15px}
  .bar-1 {width: 15%; height: 7px; background: linear-gradient(to right, #e65c00, #f9d423); border-radius:15px}
  
  
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
  .totalStar-rated{
    font-family: 'Poppins', sans-serif !important;

  }
  .count-star{
    color: #680000;
    font-weight: 600;
    
  }