*{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.toast-message{
position:"bottom-right";

/* newestOnTop={false}
closeOnClick
rtl={false}
pauseOnFocusLoss
draggable
pauseOnHover
theme="light" */
}