/* utils */
.section-heading {
    margin-bottom: 20px;
}

.section-heading>h3 {
    margin: 30px 0 10px;
    text-align: start;
    color: #1e283c;
    font-size: 25px;
    font-weight: 600;
}

.section-heading>hr {
    border-width: 0;
    height: 5px;
    background-color: #1e283c;
    width: 15%;
    opacity: 1 !important;
    border-radius: 10px;
}

.section-heading-center > h3 {
    margin: 30px 0 10px;
    color: #1e283c;
    font-size: 25px;
    font-weight: 600;
}
.section-heading-center > hr {
    border-width: 0;
    height: 5px;
    background-color: #1e283c;
    width: 15%;
    margin: 0 auto;
    opacity: 1 !important;
    border-radius: 10px;
}


/* Showcase */
#showcase {
    width: 100%;
    /* background-image: linear-gradient(to right, #0098d6 0%, #00cbd6 100%); */
    /* background: #1e283c; */


    background: hsla(355, 77%, 52%, 1);

    background: radial-gradient(circle, hsla(355, 77%, 52%, 1) 0%, #002142 85%);
    
    background: -moz-radial-gradient(circle, hsla(355, 77%, 52%, 1) 0%, hsla(210, 100%, 13%, 1) 85%);
    
    background: -webkit-radial-gradient(circle, hsla(355, 77%, 52%, 1) 0%, hsla(210, 100%, 13%, 1) 85%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E32636", endColorstr="#002244", GradientType=1 );


    /* background: hsla(355, 77%, 52%, 1);

    background: linear-gradient(45deg, hsla(355, 77%, 52%, 1) 0%, hsla(210, 100%, 13%, 1) 85%);
    
    background: -moz-linear-gradient(45deg, hsla(355, 77%, 52%, 1) 0%, hsla(210, 100%, 13%, 1) 85%);
    
    background: -webkit-linear-gradient(45deg, hsla(355, 77%, 52%, 1) 0%, hsla(210, 100%, 13%, 1) 85%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E32636", endColorstr="#002244", GradientType=1 ); */
}

.navbar-img {
    width: 150px;
}

.nav-tab {
    text-decoration: none;
    font-weight: 500;
}

.navbar {
    /* background-color: #002244; */
}

.navbar-btn {
    border: none;
    border-radius: 9px;
    background-color: #E32636;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
}

.image-wrapper {
    width: 100%;
    height: 30rem;
    /* height: 100%; */
    background: #002244;
    border-radius: 25px 0 0 25px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide-img {
    width: 80%;
    margin: 0 auto;
}

.showcase-container {
    padding: 125px 0 !important;
    width: 100%
}

.showcase-heading {
    color: #fff;
    font-size: 2rem !important;
}

.showcase-image {
    width: 100% !important;
    border-radius: 10px !important;
    /* height: 100% !important; */
    height: 380px !important;
    /* width: 493px !important; */
    /* border-radius: 10px !important; */
    opacity: 0.9;


}
.show-video{
    box-shadow: 0px 17px 12px -15px #111;
}
.cu-logo {
    width: 100px;
}

.showcase-para {
    color: #f1f1f1;
    line-height: 1.6;
    font-size: 1rem;
}

.typewrite-text {
    color: #c3d8ff;
    font-size: 1.5rem !important;
}

.showcase-btn {
    padding: 10px 30px;
    color: #f1f1f1;
    background-color: #E32636;
    border-radius: 4px;
    border: none
}
.showcase-image {
    /* width: 100%;
    height: 100%; */
    
}

.card {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.card-icon {
    font-size: 100px;
    margin-bottom: 25px;
    color: #1e283c;
}


/* contact */
#contact {
    background-color: #f1f1f1;
}

.contact {
    padding: 30px 0;
}
.contact-list-item {
    color: #002244;
    transition: color 0.3s linear;
    text-decoration: none;
}
.contact-list-item:hover {
    color: #E32636;
}
.contact-list-item .icon {
    font-size: 20px;
}
.contact-list-item p {
    font-size: 22px;
}
.contact-hr-line {
    border-width: 0;
    height: 1.5px;
    background-color: #1e283c;
    opacity: 1 !important;
    border-radius: 10px;
}

/* Guide and support */
#guide {
    background-color: rgba(30, 40, 60, 0.15);
}
.guide-para {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}
.guide-search-wrapper {
    width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.guide-input {
    border-radius: 50px 0 0 50px;
    border: none;
    padding: 8px 16px;
    flex: 1;
    border: 1px solid #E32636;
}
.search-icon {
    padding: 8px 20px;
    background-color: #E32636;
    border-radius: 0 50px 50px 0;
    margin-left: 8px;
}
.search-icon .icon {
    color: #fff;
    font-weight: 500;
}


/* Training And workshop */

#training {
    background-color: #f1f1f1;
}
.training-btn {
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #E32636;
    color: #E32636;
    background-color: transparent;
    transition: all 0.3s ease;
}
.training-btn:hover {
    background-color: #E32636;
    color: #fff;
}
.training-card {
    margin: 0 auto;
    width: 60%;
    padding: 40px 10px;
    text-align: center;
    background-color: rgba(227, 38, 54, 0.7);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.training-card p {
    margin-top: 30px;
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #fff;
}
.carousel-control-prev-icon{
    background-color: #1e283c;
    border-radius: 4px;
    padding: 4px;
}
.carousel-control-next-icon{
    background-color: #1e283c;
    border-radius: 4px;
    padding: 4px;
}
.training-icon {
    font-size: 100px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}


/* request new technology */
#request {
    background-color: rgba(30, 40, 60, 0.15);
}
.request-btn {
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #E32636;
    color: #fff;
    background-color: #E32636;
    transition: all 0.3s ease;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    
}