*{
  font-family: 'Poppins', sans-serif !important;
}

.content-view{
  background-color: rgb(245, 238, 238);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
  
  
}
.fixed-header{
  margin: 0 !important;
  padding: 0 !important;
}
.headerImage1{
  height: 40px;
  margin-left: 30px;
}
.headerImage2{
  height: 50px;
}
.right-view-header{
  display: flex;

}
.list-view{
  margin-right: 20px;
}
.linecolor{
  background-color: #690000;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 100;
  box-shadow: 0px 17px 12px -15px #111;
  
  
}
.linecolor {
  animation: marquee 10s linear infinite;
}

@keyframes linecolor {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
.main-header-view{
  background-color: rgb(245, 238, 238);
  width: 100%;
  height: auto;
  display: flex;
 flex-direction: column;
 /* margin-top: 20px; */

 
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);

}
.main-header-view1{
  width: 60%;
}
.main-header-view{
  background-color: white !important;
}
.mini-header-view-heading{
  margin-left: 30px;
  font-size: 20px;
  color: black;
  margin-top: 10px;
  
}
.heading-view{
  margin-left: 30px;
  font-size: 25px;
  font-weight: 600;
  color: #28293D;

}
.teacher-name{
  margin-left: 30px;
}
.teacher-background{
  margin-left: 30px;
}
.join-button{
  width: 140px;
  height: 40px;
  margin-left: 30px;
  border-radius: 20px;
  background-color: #D73E0F;
  color: white;
  border: none;
  margin-right: 30px;
}
.buttonAndEnrolled{
  display: flex;
  flex-direction: row;
  align-items: baseline;


}
.count-enroll{
  color: green;
  margin-left: 10px;

}
.body-view{
  display: flex;
  flex-direction: row;
  /* align-items: baseline; */
  background-color: #d9d9d9;
  padding: 10px 0;
}
.left-body-view{
  /* background-color: green; */
  width: 60%;
  height: auto;
  margin-left: 30px;


}
.right-body-view{
  /* background-color: red; */
  width: 40%;
  height: auto;
  margin-right: 30px;

}
.video-view{
  width: 100% !important;
  height: 400px !important;
  margin-top: 20px;
  padding: 35px;
}
.video-thumb{
  width: 100% !important;
  height: 100%;
  

}
.summary-view{
  /* margin-left:55px; */
  margin-top: 20px;
  color: black;
  font-weight: 600;
  font-size: 30px;
  
}
.header6{
  color: #555770 !important;
  /* margin-left:55px; */
  
 
  margin-top: 20px


}
.header6 tbody{
  font-size: 16px;
  
}
.header6 tr td{
padding:10px;

}
.header6 ul{
  margin-right: 20px;

}
.header6 ul li{
  line-height: 25px;
    margin: 10px 0;
    list-style-type: circle;
}
.header7{
  color: red;
  font-size: 15px;
  margin:8px;
  margin-top:9px;
  margin-left: 55px;
}
.header8{
  background: #797a7c !important;
    color: #ffffff !important;
    font-size: 14px;
    /* font-weight: bold; */
    height: 40px;
    
    border-radius: 50px;
    border:none;
    margin-left:55px;
    padding:0px 10px;
    margin-bottom: 20px;
    
}
.books-reference{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;

}
.left-book{
  width: 60%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
.right-book{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  /* background-color: red; */

}
.heading-view-books{
 
  font-size: 50px;
  font-weight: 600;
  color: #000000;
  box-shadow: 0px 17px 12px -15px #111;
}
.books-image{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 17px 12px -15px #111;
}
.books-image2{
  width: 100%;
  height: 400px;
  box-shadow: 0px 17px 12px -15px #111;
}

.right-book2{
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 30px; */
  /* background-color: red; */
  margin-left: 30px;
  /* border-radius: 10px; */
  height: 300px;
  
}
.second-book-table{
display: flex;
flex-direction: row;
width: 100%;
height: 400px;
align-items: center;

}
.left-side{
width: 50%;

}
.right-side{
width: 50%;
display: flex;
align-items: baseline;
float: right;
justify-content: center;

}
.left-side-image{
width: 86%;
  height: auto;
  margin-left: 30px;
}
.however{
color: #690000;
font-weight: 600;
font-size: 60px;
box-shadow: 0px 17px 12px -15px #111;

}
.heading-view-books2{
font-size: 200;
/* display: flex;
flex-direction: row; */
font-size: 21px;
font-weight: 600;
margin-right: 10px;
/* box-shadow: 0px 17px 12px -15px #111; */


}
/* .fa {
padding: 20px;
font-size: 30px;
width: 100px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border: 10px;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}
.footer-social{
display: flex;
width: 100%;
background-color: #690000;
flex-direction: column;
justify-content: center;
align-items: center;
} */
.heading-view-books3{
font-size: 200;
/* display: flex;
flex-direction: row; */
font-size: 21px;
font-weight: 600;
margin-right: 10px;
color: white;
}
.show-video{
  width: 100%;
}
td{
  color: black;
}