.col-6-area {
  width: 100%;
}
.multi-select {
  background-color: #ecf0f4;
}
.openModal {
  justify-content: center;
  width: 400px;
  height: 50px;
  background: #680000;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
}
.modalParent {
  display: flex;
  justify-content: center;
  width: 100%;
}
.multi-option-drop {
  height: 50px;
}
.do-and-dons {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.doanddont-button {
  color: black;
  width: 100%;
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: 600;
;
}
.doanddont-button:hover{
  /* background-color: #76b1b1; */
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: 600;


  
}
.passage123{
  color: white;
}
